{% extends "test_app/index.html" %}
{% block blog%}
   <div class="blog-header">
        <h1 class="blog-title">Новости</h1>
        <p class="lead blog-description">Свежие публикации моих пописок</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
        {%for i in post%}
            {% if i in post_read %}
              <div class="blog-post thumbnail">
                  <span style="color:grey;">прочитанное</span>
              <p class="lead blog-description">{{i.blog}}</p>
            <h2 class="blog-post-title"><a href="post{{i.id}}">{{i.title_post}}</a></h2>
            <p class="blog-post-meta">{{i.date_create}}</p>

            <p>{{i.text}}</p>

          </div>
            {% else %}
                      <div class="blog-post thumbnail">

              <p class="lead blog-description">{{i.blog}}</p>
            <h2 class="blog-post-title"><a href="post{{i.id}}">{{i.title_post}}</a></h2>
            <p class="blog-post-meta">{{i.date_create}}</p>

            <p>{{i.text}}</p>
            <button class="btn btn-info" onclick="AddRead({{i.id}})">Добавить в прочитанные</button>
          </div><!-- /.blog-post -->
            {% endif %}

        {%endfor%}


          <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
          </ul>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
              <li><a href="#">March 2013</a></li>
              <li><a href="#">February 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->
{% endblock %}

{%block script%}
<script>$('#news_id').addClass('active');</script>
{%endblock%}